body {
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    font-weight: bold;
    font-size: 18px;
    width: 300px;
    line-height: 26px;
    margin-bottom: 5px;
}

.middle-dot {
    font-size: 14px;
    color: dimgray;
    margin-top: 0px;
    margin-bottom: 10px;
}

.check-mark {
    font-size: 14px;
    color: dimgray;
    margin-top: 0px;
    margin-bottom: 10px;
}

.description {
    line-height: 22px;
    font-size: 14px;
    color: dimgray;
    width: 300px;
    margin-top: 0px;
}

.banner {
    color: white;
    background-color: red;
    padding: 18px 18px;
    margin-top: 100px;
    text-align: center;
}

.link {
    color: white;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
    color: white;
}





.currency-1 {
    font-weight: 100;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.usd {
    font-size: 10px;
    color: gray;
}

.currency-2 {
    margin-bottom: 0px;
    margin-top: 4px;
    color: green;
    font-size: 10px;
}

.currency-3 {
    margin-top: 4px;
    margin-bottom: 0px;
    font-size: 10px;
    color: gray;
}

.red {
    color: red;
}

