@{
    ViewData["Title"] = "Display Page";
}
<link rel="stylesheet" href="~/css/display.css" />
<div class="text-center">
    <h1 class="display-4">Display</h1>
</div>

<p>
    Block Element =  whole line
</p>
<p>Inline-block = element takes what they need too</p>
    <p>Inline element  = in line</p>

<img class="sunraku" src="http://animota.net/cdn/shop/files/D121095_01.jpg?v=1704958083" />
<p class="title">Shangri-La Frontier - Sunraku Luminasta Figure</p>
<p class="line">Sega</p>
<p class="detail">PHP: 650 &middot; MIB</p>

<p style=" margin-top:20px; font-weight:bold;">Sign up Form</p>
<input  class="fname"type="text" placeholder="First Name"/>
<input  class="lname"type="text" placeholder="Last Name"/>
<input  class="email"type="email" placeholder="Email"/>
<button class="submit">Sign Up</button>