@{
    ViewData["Title"] = "Div Page";
}
<link rel="stylesheet" href="~/css/div.css" />
<div class="text-center">
    <h1 class="display-4">Div</h1>

</div>

<div class="div-example1">
    This is a div
</div>

<div class="product-preview">
    <div>
        <img class="sunraku"src="https://product.hstatic.net/200000462939/product/10007_1643f67163c04c9f89ec4d52c0295b6d_master.jpeg" alt="sunraku.img" />
    </div>
    <p class="title">Shangri-La Frontier - Sunraku Luminasta Figure</p>
    <p class="line">Sega</p>
    <p class="detail">PHP: 650 &middot; MISB</p>
</div>

<div class="product-preview">
    <div>
        <img class="pencilgon" src="https://i.ebayimg.com/00/s/ODQ0WDg3MA==/z/9MIAAOSw1xZl9O9I/$_57.PNG?set_id=880000500F" alt="pencilgon.img" />
    </div>
    <p class="title">Shangri-La Frontier - Pencilgon Luminasta Figure</p>
    <p class="line">Sega</p>
    <p class="detail">PHP: 300 &middot; BIB</p>
</div>

<div class="product-preview">
    <div>
        <img class="oikatzo" src="https://images.bigbadtoystore.com/images/p/full/2023/09/9eccf648-e9df-4987-9595-4f7840305565.jpg" alt="oikatzo.img" />
    </div>
    <p class="title">Shangri-La Frontier - Oikatzo Luminasta Figure</p>
    <p class="line">Sega</p>
    <p class="detail">PHP: 350 &middot; MIB</p>
</div>

<br />
<p class="catbook">Catbook</p>
<div class="friend-container">
    <img class="uia" src="https://pbs.twimg.com/tweet_video_thumb/Gh5dcXEWkAARLdY.jpg" />
    <div class="details">

    <p class="name">UIA</p>
    <p class="friends">2 mutual friends</p>
    <button class="add-btn">Add Friend</button>
    </div>
</div>

<div class="friend-container">
    <img class="huh" src="https://ih1.redbubble.net/image.5310777466.1006/pp,504x498-pad,600x600,f8f8f8.jpg" />
    <div class="details">

    <p class="name">Huh</p>
    <p class="friends">5 mutual friends</p>
    <button class="add-btn">Add Friend</button>
    </div>
</div>

<div class="friend-container">
    <img class="cat" src="https://raketcontent.com/1/8d9797838d2c4774d32ee016db59840c_fc254eb1b5.jpg" />
    <div class="details">

    <p class="name">Cat</p>
    <p class="friends">1 mutual friends</p>
    <button class="add-btn">Add Friend</button>
    </div>
</div>

