@{
    ViewData["Title"] = "Font Page";
}
<link rel="stylesheet" href="~/css/fonts.css" />
<div class="text-center">
    <h1 class="display-4">Font</h1>
  
</div>

<p class="title">
   Mastering Simple HTML and CSS Fundamentals
</p>
<p class="middle-dot">
    Special Entity Mid Dot &middot; February 24,2025
</p>
<p class="check-mark">
    Charles Dominique &check;
</p>
<p class="description">
    Everyday Practice is Good. Learning is a continous process.
</p>

<p class="banner">
    You can learn and practice this Exercise by watching this Youtube Tutorial. <a class="link" target="_blank" href="https://youtu.be/G3e-cpL7ofc">Learn Now  &gt;</a>
</p>

<p class="mt-25 mb-25">
   Crypto
</p>
<p class="currency-1">
   1,049.61 <span class="usd">USD</span>
</p>
<p class="currency-2">
    +18.05 (1.75%) today
</p>
<p class="currency-3">
    After hours 1,048.00 <span class="red">-1.61 (0.15%)</span>
</p>

