@{
    ViewData["Title"] = "Img Txt Page";
}
<link rel="stylesheet" href="~/css/images.css" />
<div class="text-center">
    <h1 class="display-4">Image Txt</h1>

</div>
<p>Cover</p>
<img class="sora-cover"src="https://mlpnk72yciwc.i.optimole.com/cqhiHLc.IIZS~2ef73/w:auto/h:auto/q:75/https://bleedingcool.com/wp-content/uploads/2021/10/Super-Smash-Broas-Ultimate-Sora-2.jpg" />

<p>Contain</p>
<img class="sora-contain"src="https://mlpnk72yciwc.i.optimole.com/cqhiHLc.IIZS~2ef73/w:auto/h:auto/q:75/https://bleedingcool.com/wp-content/uploads/2021/10/Super-Smash-Broas-Ultimate-Sora-2.jpg" />

<p>Fill</p>
<img class="sora-fill"src="https://mlpnk72yciwc.i.optimole.com/cqhiHLc.IIZS~2ef73/w:auto/h:auto/q:75/https://bleedingcool.com/wp-content/uploads/2021/10/Super-Smash-Broas-Ultimate-Sora-2.jpg" />
<div class="mt-5">
<input class="search-bar" type="text" placeholder="Search"/>
<input type="checkbox" />

</div>