@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/index.css" />
<div class="text-center">
    <h1 class="display-4">HTML</h1>
    <a href="https://www.youtube.com/watch?v=G3e-cpL7ofc&t=106s" target="_blank">Youtube Tutorial</a>
   <p>Button Practice</p>
    <div>
   <button class="subcribe">
        Subscribe
    </button>
    <button class="join-btn">Join</button>
    <button class="tweet-btn">Tweet</button>
   </div> 
    
</div>
<div>
    <p>Pagination</p>
    <button class="back-btn">
        Back
    </button>
    <a class="page-num">1</a>
    <a class="page-num">2</a>
    <a class="page-num">3</a>
    <a class="page-num">4</a>
    <a class="page-num">5</a>
    <button class="next-btn">
        Next
    </button>
   
</div>
<div>
    <p>Stretch</p>
    <button class="stretch-btn">
        Stretch
    </button>
   
</div>

<div>
    
    <p>
    3D Click
    </p>
    <button class="shadow-btn">Shadow</button>
  
</div>
<div>
    <p>Margin and Padding</p>
    <button class="btn-1">One</button>
    <button class="btn-2">Two</button>
    <button class="btn-3">Three</button>
   
</div>