@{
    ViewData["Title"] = "Nested Page";
}
<link rel="stylesheet" href="~/css/nestedlayout.css" />
<div class="text-center">
    <h1 class="display-4">Nested</h1>

</div>

<div class="div-container">
    <div class="c-head">Head</div>
    <div class="c-body">Body
        <div class="h1">H1</div>
        <div class="h2">H2</div>
    </div>
</div>
<p class="sample">Sample</p>
<div class="product-container">
    <div class="product-image">
        <img class="trpic" src="https://geeksinjapan.com/wp-content/uploads/2023/10/geeks-in-japan-tokyo-revengers-king-of-artist-the-chifuyu-matsuno-2-1.jpg" />
    </div>

    <div class="product-details">
        <div class="details-1">
            <img class="logo"src="https://sw6.elbenwald.de/media/7b/09/80/1653172555/E1070716_4.jpg" />
        </div>
        <div class="details-2">
            <p class="title">Tokyo Revengers - Chifuyu KOA Figure</p>
            <p class="line">King of Artist</p>
            <p class="detail">PHP: 500 &middot; MISB</p>
        </div>
    </div>
</div>